{% extends 'base.html' %} 
{% load static %}

{% block title %}Add An Exercise{% endblock %} 

{% block head %} 
  <link rel="stylesheet" href="{% static 'css/new_exercise.css' %}">
  <style>
    body {
      background-image: url("{% static 'images/pull-up-2.jpg' %}");
      background-repeat: no-repeat;
      background-size: 100%;
    }
  </style>
{% endblock %} 

{% block header %}
{% endblock %} 

{% block content %}

<div class="center">
  <h1 class="text-center">Enter New Exercise</h1>
</div>

<div style="width: 100%;">
  <div style="width: 50%; float:left">
    <form action="" method="POST">
      {% csrf_token %} 
    
      <table class="table table-borderless">
        <tr>
          <td>Name:</td>
          <td>{{ form.technique_name }}</td>
        </tr>
        <tr>
          <td>Strength:</td>
          <td>{{ form.for_strength }}</td>
        </tr>
        <tr>
          <td>Cardio:</td>
          <td>{{ form.for_cardio }}</td>
        </tr>
        <tr>
          <td>Flexibility:</td>
          <td>{{ form.for_flexibility }}</td>
        </tr>
        <tr>
          <td>Timed:</td>
          <td>{{ form.has_time }}</td>
        </tr>
        <tr>
          <td>Weighted:</td>
          <td>{{ form.has_resistance }}</td>
        </tr>
        <tr>
          <td>Reps:</td>
          <td>{{ form.has_reps }}</td>
        </tr>
      </table>
    
      <button class="btn btn-primary" type="submit" id="sendform">Submit</button> 
    </form>
  </div>
  <div style="margin-left: 50%;">

    <div class="moves">
      <p>
      Your Exercises:
    </p>
      <div class="moves">
        <ul>
          {% for move in moves_query %}
            <li>{{ move.technique_name }}</li>
          {% endfor %} 
        </ul>
      </div>
    
    </div>

    

  </div>
</div>

{% endblock %} 

{% block footer %} 
{% endblock %}