{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <!-- JQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Custom JS functions-->
    <script src="{% static 'js/functions.js' %}"></script>
    
    <title>{% block title %}{% endblock %}</title>

    {% block head %} {% endblock %}
  </head>

  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand{% if not user.is_authenticated %} disabled{% endif %}" href="{% url 'home' %}">My Journal</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          
          <li class="nav-item">
            <a class="nav-link{% if not user.is_authenticated %} disabled{% endif %}" href="{% url 'new_exercise' %}">Create Exercise</a>
          </li>
          <li class="nav-item">
            <a class="nav-link{% if not user.is_authenticated %} disabled{% endif %}" href="{% url 'entry' %}">New Entry</a>
          </li>
          {% if user.is_authenticated %} 
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    {% block header %} {% endblock %}
  </header>

  <body>
    <div class="container">{% block content %} {% endblock %}</div>
  </body>

  <footer>{% block footer %} {% endblock %}</footer>
</html>
